.confirmation-modal {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.72);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-modal h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4ecb79;
  font-size: 48px;
}

.confirmation-modal h1 svg {
  color: #4ecb79;
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}
